---
// const platform = "github";
// const username = "why-qw1ko";
import Social from "./Social.astro";
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
<footer>
  <!-- <p>在 <a target="_blank" href={`https://${platform}.com/${username}`}>{platform}</a> 上，了解有关我的项目的更多信息！</p> -->
  <Social platform="twitter" username="MM_HQD" />
  <Social platform="github" username="why-qw1ko" />
  <Social platform="youtube" username="@百味-n9g" />
</footer>
